################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CountryCollection/CountryCollectionTests/bin/Debug/net5.0
/src/CountryCollection/CountryCollectionTests/obj
/src/CountryCollection/.vs/CountryCollection
/src/CountryCollection/CountryCollection/bin/Debug
/src/CountryCollection/CountryCollection/obj
