################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CountryCollection/CountryCollectionTests/bin
/src/CountryCollection/CountryCollectionTests/obj
/src/CountryCollection/.vs
/src/CountryCollection/CountryCollection/bin
/src/CountryCollection/CountryCollection/obj
